.Heading{
	color: #707070;
	font-weight: 500;
    margin-top: 25px;
	text-align: center;
	font-size: 10vh;
}

h3{
	position: relative;
	text-align: center;	
}

img {
	width: 100%;
	background-position: center;
	background-size: cover;
	transition: transform .5s;
}
.col:hover{
	transform: scale(1.2); 
	z-index: 1;
}

.container{
	margin-top: 50px;
}



.shadow-lg{
	max-width: 	90%;
}

